<h4>BufferBuddy Settings</h4>

<form class="form-horizontal" id="settings_plugin_buffer_buddy_form">
	<div class="control-group">
		<label class="control-label">
      <i class="icon icon-info-sign" title="If enabled, Buffer Buddy will try to keep buffers full." data-toggle="tooltip"></i>
      {{ _('Enabled') }}
    </label>
		<div class="controls">
				<input type="checkbox" data-bind="checked: settings.plugins.buffer_buddy.enabled" title="If enabled, Buffer Buddy will try to keep buffers full."/>
		</div>
	</div>
</form>