<span>Commands inflight:</span> <strong> <span data-bind="text: inflight">_</span> / <span data-bind="text: maxInflight">_</span> max</strong>
<br />
<span>Sends triggered: </span> <strong><span data-bind="text: ctsTriggered">_</span></strong>
<br />
<span>Resends detected: </span> <strong><span data-bind="text: resendsDetected">_</span></strong>
<br />
<span>Planner buffers:</span> <strong><span data-bind="text: plannerBufferAvail">_</span> free / <span data-bind="text: plannerBufferSize">_</span> max</strong>
<br />
<span>Underruns:</span> <strong><span data-bind="text: plannerUnderrunsDetected">_</span> underruns detected</span></strong>
<br />
<span>Command buffers:</span> <strong><span data-bind="text: commandBufferAvail">_</span> free / <span data-bind="text: commandBufferSize">_</span> max</strong>
<br />
<span>Underruns:</span> <strong><span data-bind="text: commandUnderrunsDetected">_</span> underruns detected</span></strong>
